body 
{
background-color: aquamarine;
}
.app
{
width: 70%;
height: auto;
margin: auto;
margin-top: 8%;  
}
.app h1 
{
font-size: 45px;
letter-spacing: 1px;  
}
.app button 
{
width: 18%;
height: auto;
margin: 9px;
padding: 12px;
border: 0;
background-color: white;
font-size: 18px;  
}
.product
{
width: 100%;
height: auto;
margin: auto;
text-align: center;
display: flex;
flex-wrap: wrap;

}
.product-grid 
{
width: 22%;
height: auto;
margin: 5px;
padding: 8px;
text-align: center;
background-color: white;
border-radius: 5px;
border: solid 1px lightgray;
border-radius: 20px;
}
.product-grid img 
{
width: 70%;
height: 140px;  
}
.search-input{
width: 95%;
height: auto;
margin: 9px;
padding: 12px;
border: 0;
background-color: rgb(241, 235, 235);
font-size: 18px;  
color: darkblue;
}